<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d964ec">  <td>20/02/18 12:37:58</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LandlordTest.getLandlord()[pri:0, instance:com.rest.RestAutomationProject.javacodes.LandlordTest@50eac852]">getLandlord</td> 
  <td>main@934275857</td>   <td></td> </tr>
<tr bgcolor="d964ec">  <td>20/02/18 12:38:13</td>   <td>14945</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LandlordTest.postLandlord()[pri:1, instance:com.rest.RestAutomationProject.javacodes.LandlordTest@50eac852]">postLandlord</td> 
  <td>main@934275857</td>   <td></td> </tr>
<tr bgcolor="d964ec">  <td>20/02/18 12:38:16</td>   <td>18528</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LandlordTest.putLandlord()[pri:2, instance:com.rest.RestAutomationProject.javacodes.LandlordTest@50eac852]">putLandlord</td> 
  <td>main@934275857</td>   <td></td> </tr>
<tr bgcolor="d964ec">  <td>20/02/18 12:38:17</td>   <td>19145</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LandlordTest.deleteLandlord()[pri:3, instance:com.rest.RestAutomationProject.javacodes.LandlordTest@50eac852]">deleteLandlord</td> 
  <td>main@934275857</td>   <td></td> </tr>
</table>
