<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.rest.RestAutomationProject.javacodes.StepDefinition</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>user_should_be_able_to_add_the_Landlords</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>user_navigate_with_given_data_with_delete_to_Landlords</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>user_submit_DELETE_request_of_Landlords_with_first_name_and_last_name</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>user_navigate_with_given_data_with_post_to_Landlords</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>user_should_be_able_to_delete_the_Landlord</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>user_should_be_able_to_update_the_Landlord</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>user_submit_PUT_request_of_Landlords_by_entering_first_name_and_last_name</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>user_navigate_with_given_data_with_put_to_Landlords</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>user_submit_GET_request_of_Landlords</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>user_navigate_to_Landlords</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>user_should_be_able_to_see_the_list_of_Landlords</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>user_submit_POST_request_of_Landlords_by_entering_first_name_and_last_name</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
