<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="686563">  <td>20/02/23 18:05:38</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StepDefinition.user_navigate_to_Landlords()[pri:1, instance:com.rest.RestAutomationProject.javacodes.StepDefinition@192d3247]">user_navigate_to_Landlords</td> 
  <td>main@1843289228</td>   <td></td> </tr>
<tr bgcolor="686563">  <td>20/02/23 18:05:43</td>   <td>4323</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StepDefinition.user_navigate_with_given_data_with_delete_to_Landlords()[pri:10, instance:com.rest.RestAutomationProject.javacodes.StepDefinition@192d3247]">user_navigate_with_given_data_with_delete_to_Landlords</td> 
  <td>main@1843289228</td>   <td></td> </tr>
<tr bgcolor="686563">  <td>20/02/23 18:05:41</td>   <td>2553</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StepDefinition.user_navigate_with_given_data_with_post_to_Landlords()[pri:4, instance:com.rest.RestAutomationProject.javacodes.StepDefinition@192d3247]">user_navigate_with_given_data_with_post_to_Landlords</td> 
  <td>main@1843289228</td>   <td></td> </tr>
<tr bgcolor="686563">  <td>20/02/23 18:05:42</td>   <td>3856</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StepDefinition.user_navigate_with_given_data_with_put_to_Landlords()[pri:7, instance:com.rest.RestAutomationProject.javacodes.StepDefinition@192d3247]">user_navigate_with_given_data_with_put_to_Landlords</td> 
  <td>main@1843289228</td>   <td></td> </tr>
<tr bgcolor="686563">  <td>20/02/23 18:05:41</td>   <td>3217</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StepDefinition.user_should_be_able_to_add_the_Landlords()[pri:6, instance:com.rest.RestAutomationProject.javacodes.StepDefinition@192d3247]">user_should_be_able_to_add_the_Landlords</td> 
  <td>main@1843289228</td>   <td></td> </tr>
<tr bgcolor="686563">  <td>20/02/23 18:05:43</td>   <td>4351</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StepDefinition.user_should_be_able_to_delete_the_Landlord()[pri:12, instance:com.rest.RestAutomationProject.javacodes.StepDefinition@192d3247]">user_should_be_able_to_delete_the_Landlord</td> 
  <td>main@1843289228</td>   <td></td> </tr>
<tr bgcolor="686563">  <td>20/02/23 18:05:41</td>   <td>2524</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StepDefinition.user_should_be_able_to_see_the_list_of_Landlords()[pri:3, instance:com.rest.RestAutomationProject.javacodes.StepDefinition@192d3247]">user_should_be_able_to_see_the_list_of_Landlords</td> 
  <td>main@1843289228</td>   <td></td> </tr>
<tr bgcolor="686563">  <td>20/02/23 18:05:42</td>   <td>3901</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StepDefinition.user_should_be_able_to_update_the_Landlord()[pri:9, instance:com.rest.RestAutomationProject.javacodes.StepDefinition@192d3247]">user_should_be_able_to_update_the_Landlord</td> 
  <td>main@1843289228</td>   <td></td> </tr>
<tr bgcolor="686563">  <td>20/02/23 18:05:43</td>   <td>4328</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StepDefinition.user_submit_DELETE_request_of_Landlords_with_first_name_and_last_name()[pri:11, instance:com.rest.RestAutomationProject.javacodes.StepDefinition@192d3247]">user_submit_DELETE_request_of_Landlords_with_first_name_and_last_name</td> 
  <td>main@1843289228</td>   <td></td> </tr>
<tr bgcolor="686563">  <td>20/02/23 18:05:39</td>   <td>598</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StepDefinition.user_submit_GET_request_of_Landlords()[pri:2, instance:com.rest.RestAutomationProject.javacodes.StepDefinition@192d3247]">user_submit_GET_request_of_Landlords</td> 
  <td>main@1843289228</td>   <td></td> </tr>
<tr bgcolor="686563">  <td>20/02/23 18:05:41</td>   <td>3095</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StepDefinition.user_submit_POST_request_of_Landlords_by_entering_first_name_and_last_name()[pri:5, instance:com.rest.RestAutomationProject.javacodes.StepDefinition@192d3247]">user_submit_POST_request_of_Landlords_by_entering_first_name_and_last_name</td> 
  <td>main@1843289228</td>   <td></td> </tr>
<tr bgcolor="686563">  <td>20/02/23 18:05:42</td>   <td>3867</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StepDefinition.user_submit_PUT_request_of_Landlords_by_entering_first_name_and_last_name()[pri:8, instance:com.rest.RestAutomationProject.javacodes.StepDefinition@192d3247]">user_submit_PUT_request_of_Landlords_by_entering_first_name_and_last_name</td> 
  <td>main@1843289228</td>   <td></td> </tr>
</table>
